body {
  background: #c7c6c5; }

.button {
  background-color: RGB(238, 120, 120);
  height: 40px;
  width: auto;
  text-align: center; }
  .button:hover {
    background-color: #f39c9c;
    cursor: grab; }

.button-rainbow {
  background-color: RGB(238, 120, 120);
  height: 40px;
  width: auto;
  text-align: center; }
  .button-rainbow:hover {
    background-color: #f39c9c;
    cursor: grab; }

.buttons {
  text-align: center; }

.square-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px; }

.square {
  border: 0.5px solid rgba(0, 0, 0, 0.8); }
