body {
  background: #c7c6c5; }

.button {
  background-color: RGB(238, 120, 120);
  height: 40px;
  width: auto;
  text-align: center; }
  .button:hover {
    background-color: #f39c9c;
    cursor: grab; }

.buttons {
  text-align: center; }

.square-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px; }

.square {
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  margin: 0.5px;
  padding: 20px;
  font-size: 30px;
  text-align: center; }
