.square-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px; }

.square {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; }
  .square:hover {
    animation: hover;
    transition: all .3s; }

@keyframes hover {
  0% {
    background-color: #ebb734; }
  100% {
    background-color: #edb321; } }
