$starting-orange: rgb(235, 188, 70) ;
$ending-orange: rgb(241, 69, 1);


@keyframes changeColorOnHover {
    0% {
        background-color: $starting-orange;
    }

    100% {
          background-color: $ending-orange;
    }
}

.square-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .square {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

    &:hover {
        animation: changeColorOnHover 1s;
    }
  }


